/* Fonts */

@font-face {
    font-family: "Basic";
    src: url(../fonts/tilda-sans_light.ttf);
}

@font-face {
    font-family: "Handwriting";
    src: url(../fonts/miama.otf);
}

@font-face {
    font-family: "Reference";
    src: url(../fonts/Involve-Regular.ttf);
}

/* Common */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Basic";
}

p {
    font-size: 1vw;
    letter-spacing: 0px;
    line-height: 2.3;
    color: #999;

    margin-top: 1vw;
}

img {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}

a {
    color: #39a5e6;
}

a:hover {
    color: #2e79a5;
     text-underline-offset: 3px;
}

a:focus {
    outline-color: lightgreen;
}

/* Buttons */
.clickedButton {
    font-family: Basic;
    font-size: 21px;
    font-weight: 100;
    color: rgb(200,200,200);

    position: absolute;
    /*top: 650px;*/
    top: 47vw;
    
    transform: translate(-50%, -50%);
}

.button {
    border: none;
    
    font-family: Basic;
    font-size: 21px;
    font-weight: 100;
    color: white;

    background-color: rgba(0, 0, 0, 0.017);

    width: 170px;
    height: 38px;
    
    text-align: center;
    
    position: absolute;
    
    transform: translate(-50%, -50%);
    
    transition: background-color 0.15s ease;
}

.button:hover {
    background: white;
    color: #4d5d76;

    transition: background-color 0.15s ease;
    
    text-decoration-line: none;
}

.button:active {
    border: none;

    background: skyblue;
    color: white;

    transition: background-color 0.15s ease;
}

.button:focus:not(:focus-visible) {
    outline: none;
}

.button:focus-visible {
    outline-color: lightgreen;
}

/* Main */

.main {
    width: 100%;
    /*padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;*/
    padding-top: 58.7%;
    padding-bottom: 3%;
    padding-left: 4.25%;
    padding-right: 5%;
}

.footer {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.basicText p {
	font-family: Basic;
    /*font-size: 1.5vw;*/
    font-size: 21px;
	font-weight: 100;
	/*color: #2d343f;*/
    color: #4d5d76;
    /*color: #4c5c76;*/
	/*color: #ffffff;*/

	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;*/
    /*text-shadow: 0 0 4px #0ff;*/
    /*text-shadow: 0 0 4px #ffffff;*/
    /*display:inline-block;*/

   /*text-shadow: #ffffff 0px 0px 3px;
    -webkit-font-smoothing: antialiased;*/
}

.basicTextDescribed {
   font-family: Basic;
   font-size: 21px;
   font-weight: 100;
   /*color: #4d5d76;
   text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;*/
    
    color: #2caa81;
}

.basicTextDescribed:hover {
   font-family: Basic;
   font-size: 21px;
   font-weight: 100;

   text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
}

.basicTextDescribed .tooltipText {
	line-height: 100%;
	
	font-size: 18px;
	
	visibility: hidden;
	/*background-color: #f5f8ff;*/
	background-color: #e2ffea;
	color: #4d5d76;
	text-align: center;
	border-radius: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	margin-top: 40px;
}

.basicTextDescribed:hover .tooltipText {
	visibility: visible;
}

.handwrittenText {
    /*font-size: 1.53vw;*/
    font-size: 23px;
    /*color: #61728e;*/
    /*color: #ccdd55;*/
    /*color: #ddee77;*/
    /*color: #000000;*/
    color: #2d343f;
    /*text-shadow: 0 0 4px #0ff;*/
    /*text-shadow: 0 0 4px #ffffff;*/
    font-family: Handwriting;
    font-weight: 1000;

	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;*/

    /*-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px black;*/
     
   /*text-shadow: #000 0px 0px 2px;
    -webkit-font-smoothing: antialiased;*/
}

.handwrittenTextSmaller {
    /*font-size: 1.53vw;*/
    font-size: 21px;
    /*color: #61728e;*/
    /*color: #ccdd55;*/
    /*color: #ddee77;*/
    /*color: #000000;*/
    color: #2d343f;
    /*text-shadow: 0 0 4px #0ff;*/
    /*text-shadow: 0 0 4px #ffffff;*/
    font-family: Handwriting;
    font-weight: 1000;

	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;*/

    /*-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px black;*/
     
   /*text-shadow: #000 0px 0px 2px;
    -webkit-font-smoothing: antialiased;*/
}

.handwrittenTextSmaller2 {
    /*font-size: 1.53vw;*/
    font-size: 20px;
    /*color: #61728e;*/
    /*color: #ccdd55;*/
    /*color: #ddee77;*/
    /*color: #000000;*/
    color: #2d343f;
    /*text-shadow: 0 0 4px #0ff;*/
    /*text-shadow: 0 0 4px #ffffff;*/
    font-family: Handwriting;
    font-weight: 1000;

	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;*/

    /*-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px black;*/
     
   /*text-shadow: #000 0px 0px 2px;
    -webkit-font-smoothing: antialiased;*/
}

.handwrittenTextDescribed {
    /*font-size: 1.53vw;*/
    font-size: 23px;
    /*color: #61728e;*/
    /*color: #ccdd55;*/
    /*color: #ddee77;*/
    /*color: #000000;*/
    color: #29916f;
    /*text-shadow: 0 0 4px #0ff;*/
    /*text-shadow: 0 0 4px #ffffff;*/
    font-family: Handwriting;
    font-weight: 1000;

	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;*/

    /*-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px black;*/
     
   /*text-shadow: #000 0px 0px 2px;
    -webkit-font-smoothing: antialiased;*/
}

.handwrittenTextDescribed:hover {
   text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
}

.handwrittenTextDescribed .tooltipText {
	font-family: Basic;
    /*font-size: 1.5vw;*/
    font-size: 21px;
	font-weight: 100;
	/*color: #2d343f;*/
    color: #4d5d76;

	line-height: 100%;
	
	font-size: 18px;
	
	visibility: hidden;
	/*background-color: #f5f8ff;*/
	background-color: #e2ffea;
	color: #4d5d76;
	text-align: center;
	border-radius: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	margin-top: 50px;
}

.handwrittenTextDescribed:hover .tooltipText {
	visibility: visible;
}

.handwrittenTextSmallerDescribed {
    /*font-size: 1.53vw;*/
    font-size: 21px;
    /*color: #61728e;*/
    /*color: #ccdd55;*/
    /*color: #ddee77;*/
    /*color: #000000;*/
    color: #29916f;
    /*text-shadow: 0 0 4px #0ff;*/
    /*text-shadow: 0 0 4px #ffffff;*/
    font-family: Handwriting;
    font-weight: 1000;

	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;*/

    /*-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px black;*/
     
   /*text-shadow: #000 0px 0px 2px;
    -webkit-font-smoothing: antialiased;*/
}

.handwrittenTextSmallerDescribed:hover {
   text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
}

.handwrittenTextSmallerDescribed .tooltipText {
	font-family: Basic;
    /*font-size: 1.5vw;*/
    font-size: 21px;
	font-weight: 100;
	/*color: #2d343f;*/
    color: #4d5d76;

	line-height: 100%;
	
	font-size: 18px;
	
	visibility: hidden;
	/*background-color: #f5f8ff;*/
	background-color: #e2ffea;
	color: #4d5d76;
	text-align: center;
	border-radius: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	margin-top: 50px;
}

.handwrittenTextSmallerDescribed:hover .tooltipText {
	visibility: visible;
}

.referenceText {
    white-space: pre;
    
    font-family: Reference;
    /*font-size: 1.5vw;*/
    font-size: 13px;
    font-weight: 100;
    color: #4d5d76;
    
    border-radius: 25px;
    background: #f5f8ff;
    padding: 4px;
    
    transition: 0.25s;
}

.referenceText:hover {
    background: #f8faff;
}