.floatedImageRight {
    float: right;
    
    margin-left: 2vw;
    margin-right: 0;
    margin-top: 0; 
    margin-bottom: 1vw;
    
    width: 40%;
    height: auto;
}

.floatedImageLeft {
    float: left;
    
    margin-left: 0;
    margin-right: 2.5vw;
    margin-top: 0; 
    margin-bottom: 1vw;
    
    width: 35%;
    height: auto;
}

#LoveText {
    position: absolute;
    
    transform: translate(-50%, -50%);
}

.gotoButton {
    border: none;
    
    font-size: 25px;
    color: rgb(125, 175, 255);
    font-family: Handwriting;
    font-weight: 1000;
    
    padding: 0px;

    background-color: rgba(0, 0, 0, 0);
}

.gotoButton:hover {
    color: #39a5e6;

    transition: background-color 0.0s ease;
    
    text-decoration: underline;

    cursor: pointer;
}

.gotoButton:active {
}

.gotoButton:focus:not(:focus-visible) {
    outline: none;
}

.gotoButton:focus-visible {
    outline-color: lightgreen;
}

.sectionPanel {
    background: #0000;
    margin: 0;
    
    position: absolute;
    
    padding-top: 0;
    margin-top: 0;
    
    display: flex;
    
    left: 0px;
    width: 0px;
}

.sectionButton {
    border: none;
    
    font-family: BasicTall;
    font-size: 21px;
    font-weight: 100;
    color: white;

    background-color: rgba(0, 0, 0, 0.12);

    width: 100%;
    height: 100%;
    
    text-align: center;
    
    transition: background-color 0.15s ease;
    
    padding: 0;
}

.sectionButton:hover {
    background: white;
    color: #4d5d76;

    transition: background-color 0.15s ease;
    
    text-decoration-line: none;

    cursor: pointer;
}

.sectionButton:active {
    border: none;

    background: skyblue;
    color: white;

    transition: background-color 0.15s ease;
}

.sectionButton:focus:not(:focus-visible) {
    outline: none;
}

.sectionButton:focus-visible {
    outline-color: lightgreen;
}

.sectionButton[disabled] {
    color: rgb(200,200,200);
}

.sectionButton[disabled]:hover {
    color: rgb(200,200,200);
}

/* Fonts */

@font-face {
    font-family: "Basic";
    src: url(../fonts/Garet-Book.ttf);
}

@font-face {
    font-family: "BasicTall";
    src: url(../fonts/tilda-sans_light.ttf);
}

@font-face {
    font-family: "Handwriting";
    src: url(../fonts/miama.otf);
}

@font-face {
    font-family: "Reference";
    src: url(../fonts/Involve-Regular.ttf);
}

@font-face {
    font-family: "Large";
    src: url(../fonts/Galderglynn-Titling-Th.otf);
}

/* Common */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Basic";
}

p {
    font-size: 1vw;
    letter-spacing: 0px;
    line-height: 2.3;
    color: #999;

    margin-top: 1vw;
}

.aboutUs {
    font-size: 1vw;
    letter-spacing: 0px;
    line-height: 2;
    color: #999;

    margin-top: 1vw;
}

img {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}

a {
    color: #39a5e6;
}

a:hover {
    color: #2e79a5;
     text-underline-offset: 3px;
}

a:focus {
    outline-color: lightgreen;
}

/* Tooltip */

#Tooltip {
    position: absolute;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, transform 0.2s;
    pointer-events: none; /* Allows clicks to pass through when hidden */

	line-height: 100%;
	
	font-size: 17px;
	
	background-color: rgb(240, 230, 255);
	color: #4d5d76;
	text-align: center;
	border-radius: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;
    
    max-width: 250px;
}

/* Buttons */

.clickedButton {
    font-family: Basic;
    font-size: 21px;
    font-weight: 100;
    color: rgb(200,200,200);

    position: absolute;
    /*top: 650px;*/
    top: 47vw;
    
    transform: translate(-50%, -50%);
}

.button {
    border: none;
    
    font-family: Basic;
    font-size: 21px;
    font-weight: 100;
    color: white;

    background-color: rgba(0, 0, 0, 0.017);

    width: 170px;
    height: 38px;
    
    text-align: center;
    
    position: absolute;
    
    transform: translate(-50%, -50%);
    
    transition: background-color 0.15s ease;
}

.button:hover {
    background: white;
    color: #4d5d76;

    transition: background-color 0.15s ease;
    
    text-decoration-line: none;
}

.button:active {
    border: none;

    background: skyblue;
    color: white;

    transition: background-color 0.15s ease;
}

.button:focus:not(:focus-visible) {
    outline: none;
}

.button:focus-visible {
    outline-color: lightgreen;
}

/* Main */

.main {
    width: 100%;
    /*padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;*/
    padding-top: 58.7%;
    padding-bottom: 3%;
    padding-left: 4.25%;
    padding-right: 5%;
}

.footer {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.basicText p {
    font-family: Basic;
    font-size: 22px;
    font-weight: 300;
    color: #d0d0d0;
}

.basicTextMail {
    font-family: Basic;
    font-size: 16px;
    font-weight: 300;
    color: #d0d0d0;
}

.basicTextTelegram {
    font-family: Basic;
    font-size: 36px;
    font-weight: 300;
    color: #d0d0d0;
}

.basicTextBlue {
    font-family: Basic;
    font-size: 22px;
    font-weight: 300;
    color: #39a5e6;
}

.basicTextLarge {
    font-family: Basic;
    font-size: 25px;
    font-weight: 300;
    color: #d0d0d0;
}

.basicTextLargeBlue {
    font-family: Basic;
    font-size: 25px;
    font-weight: 300;
    color: #39a5e6;
}

.basicTextLargeBlueBreakable {
    font-family: Basic;
    font-size: 25px;
    font-weight: 300;
    color: #39a5e6;
    overflow-wrap: break-word;
}

.basicTextLargeThick {
    font-family: Basic;
    font-size: 25px;
    font-weight: 800;
    color: #d0d0d0;
}

.largeTextCapital {
    font-family: Large;
    font-size: 37px;
    font-weight: 300;
    color: #d0d0d0;
}

.largeText {
    font-family: Large;
    font-size: 28px;
    font-weight: 300;
    color: #d0d0d0;
}

.largeTextLightCapital {
    font-family: Large;
    font-size: 37px;
    font-weight: 300;
    color: #f8f8f8;

   text-shadow: #eee 0px 0px 16px;
    -webkit-font-smoothing: antialiased;
}

.largeTextWhiteCapital {
    font-family: Large;
    font-size: 37px;
    font-weight: 300;
    color: #f8f8f8;
}

.largeTextWhite {
    font-family: Large;
    font-size: 28px;
    font-weight: 300;
    color: #f8f8f8;
}

.basicTextBI {
	font-family: Basic;
	font-style: italic;
    /*font-size: 1.5vw;*/
    font-size: 22px;
	font-weight: 1000;
    color: #2d343f;
	/*color: #ffffff;*/
	
	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;*/
    /*text-shadow: 0 0 4px #0ff;*/
    /*text-shadow: 0 0 4px #ffffff;*/
    /*display:inline-block;*/

   /*text-shadow: #ffffff 0px 0px 3px;
    -webkit-font-smoothing: antialiased;*/
}

.basicTextDescribed {
   font-family: Basic;
   font-size: 22px;
   font-weight: 100;
   /*color: #4d5d76;
   text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;*/
    
    color: rgb(185, 150, 225);
}

.basicTextDescribed:hover {
   font-family: Basic;
   font-size: 22px;
   font-weight: 100;

   text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
}

.handwrittenText {
    font-size: 25px;
    color: #fff;
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: #222 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextLight {
    font-size: 25px;
    color: #fafafa;
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: #fafafa 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextLightSoft {
    font-size: 25px;
    color: #f8f8f8;
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: #eee 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextLightBright {
    font-size: 25px;
    color: #fff;
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: #fff 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextLightGray {
    font-size: 25px;
    color: #ddd;
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: #ddd 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextRed {
    font-size: 25px;
    color: rgb(237, 7, 80);
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: rgb(40, 21, 21) 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextFire {
    font-size: 25px;
    color: rgb(255, 155, 55);
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: rgb(255, 155, 0) 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextBlue {
    font-size: 25px;
    color: #39a5e6;
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: rgb(25, 50, 75) 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextGreen {
    font-size: 25px;
    color: rgb(0, 170, 0);
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: rgb(25, 75, 25) 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextCyan {
    font-size: 25px;
    color: rgb(175, 255, 255);
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: rgb(25, 75, 75) 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextTeal {
    font-size: 25px;
    color: rgb(175, 255, 200);
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: rgb(25, 75, 75) 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextGolden {
    font-size: 25px;
    color: rgb(188, 188, 85);
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: rgb(75, 75, 25) 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextGoldenLight {
    font-size: 25px;
    color: rgb(255, 255, 200);
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: rgb(255, 255, 200) 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextTitle {
    font-size: 25px;
    color: #fff;
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: #ccc 2px 2px 2px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextTitleSmaller {
    font-size: 25px;
    color: #fff;
    font-family: Handwriting;
    font-weight: 1000;

   text-shadow: #ccc 2px 2px 2px;
    -webkit-font-smoothing: antialiased;
}

.handwrittenTextDescribed {
    /*font-size: 1.53vw;*/
    font-size: 25px;
    /*color: #61728e;*/
    /*color: #ccdd55;*/
    /*color: #ddee77;*/
    /*color: #000000;*/
    color: rgb(185, 150, 225);
    /*text-shadow: 0 0 4px #0ff;*/
    /*text-shadow: 0 0 4px #ffffff;*/
    font-family: Handwriting;
    font-weight: 1000;

	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;*/

    /*-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px black;*/
     
   /*text-shadow: #000 0px 0px 2px;
    -webkit-font-smoothing: antialiased;*/
}

.handwrittenTextDescribed:hover {
   text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
}

.referenceText {
    white-space: pre;
    
    font-family: Reference;
    font-size: 13px;
    font-weight: 100;
    color: #4d5d76;
    
    border-radius: 25px;
    background: #f5f8ff;
    padding: 4px;
    
    transition: 0.25s;
}

.referenceText:hover {
    background: #f8faff;
}